{% extends "layout.njk" %} {% block content %}

<h1>{{ game.name }}</h1>

<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ game.cover_url }}" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">
          {{ game.summary }}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
