{% extends "layout.njk" %} {% block content %}

<h2>games</h2>

<UL>
  {% for game in games %}
  <div class="card">
    <div class="card-body">
      <img src="{{ game.cover }}" alt="" />
      <li>
        <a href="/games/{{ game.slug }}">{{ game.name }}</a>
      </li>
    </div>
  </div>

  {% endfor %}
</UL>
{% endblock %}
