{% extends "layout.njk" %} {% block content %}
<style>
  body {
    background: url(../assets/images/paradise.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #carouselExemple {
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }
</style>

<div id="carouselExemple" class="carousel slide" data-ride="carousel" data-interval="4000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExemple" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExemple" data-slide-to="1"></li>
    <li data-target="#carouselExemple" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/reiner.jpeg" class="d-block" />
    </div>

    <div class="carousel-item">
      <img src="../assets/images/colossal.jpg" class="d-block" />
    </div>

    <div class="carousel-item">
      <img src="../assets/images/eren.jpeg" class="d-block" />
    </div>
  </div>

  <a href="#carouselExemple" class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="ture"></span>
    <span class="sr-only"></span>
  </a>
  <a href="#carouselExemple" class="carousel-control-next" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

{% endblock %}
